* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  width: 100%;
  /* height: 100vh; */
}

.navbar {
  padding: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  top: 0;
  overflow: hidden;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 40%;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

.heading {
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
}

.btns {
  position: absolute;
  right: 1rem;
  /* color: black; */
}

.btns button {
  padding: 0.45rem 0.8rem;
  border-radius: 12px;
  cursor: pointer;
  /* color: black; */

}

/* ===================== textarea css ====================== */
.container button {
  background-color: #b0b0b03c;
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}

.container textarea {
  background-color: #eae9e9;
}

#Text-heading {
  /* margin-top: 8%; */
}

.container #Preview-container {
  padding: 10px;
  border-radius: 6px;
  background-color: #cdcccc6d;
}


/* ===================== Alert css ====================== */


.alert-container {
  width: 30%;
  justify-self: center;
  position: absolute;
  /* right: 15px;  */
  text-align: center;
  animation: slideInFade 0.5s ease-out;
}


@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  70% {
    opacity: 1;
    transform: translateX(0);
  }
}